.container{
    background-color: azure;
    height: 800px;
    width: 1900px;
    padding: 10px;
}
header{
    background-color: bisque;
    height: 100px;
    width: 1900px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
section{
   display: inline-block;
    height: 400px;
    width:  450px;

}
*{
    border-radius: 10px;
    margin: 10px;

}
